/* Estilos da pagina index.html */
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body {
    background-color: #292929;
}
.center {
    text-align: center;
}
.justify{
    text-align: justify;
}

h1 {
    font-family: 'Ranchers', cursive;
    font-size: 40px;
    color: #F85B1A;
    text-shadow: white 2px 5px;
}

h2 {
    font-family: 'Ranchers', cursive;
    color: #F85B1A;
    font-size: 30px;
    text-shadow: white 2px 5px;
}

.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

.container-menu{
    display: flex;
    justify-content:center;
}

.img-menu {
    width: 200px;
    height: 200px;
}

#menu li{
    display: inline;
    padding: 20px;
    font-size: 20px;
}
    

#menu li a {
   text-decoration: none;
   color: #fff;
   font-weight: bold;

}

#menu li a:hover{
    color: #F85B1A;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 10%;
}
.wh {
    width: 500px;
    height: 350px;
}

/* Estilos da pagina contato.html */

.tm-social{
    height: 50px;
    height: 50px;
    
}

.mb-50{
    margin-bottom: 50px;
}

.ml-50{
    margin-left: 50px;
}

fieldset#anime{
    width: 200px;
}

button {
    width: 100px;
    border-radius: 20px;
    border-color: #F85B1A;
    font-weight: bold;
    color: #F85B1A;
}

button:hover {
    background-color: #F85B1A;
    color: #fff;
    cursor: pointer;
}

.txt-white {
    color: #fff;
}

.bg-gray {
    background-color: #696969;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

input[type=text]:focus {
    border: 3px solid #F85B1A;
    border-radius: 20px;
  }

  input[type=email]:focus {
    border: 3px solid #F85B1A;
    border-radius: 20px;
  }

textarea:focus {
    border: 3px solid #F85B1A;
    border-radius: 20px;
}